.aboutContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.leftPart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftPicture {
  background-position: center;
  background-size: cover;
  border-radius: 7px;
}

.rightPart h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.rightPart {
  font-size: 18px;
  text-align: justify;
}
.aboutContact {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.aboutButton {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.aboutButton a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}
.aboutButton a:hover {
  font-size: 20px;
  transition: 0.3s;
}
.aboutButton .resume {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s;
  text-decoration: none;
}
.aboutButton .resume:hover {
  font-size: 20px;
  transition: 0.3s;
}

@media screen and (max-width: 1140px) {
  .aboutContainer {
    grid-template-columns: 1fr;
  }
  .leftPart .leftPicture > img {
    width: 150px;
  }
}
@media screen and (max-width: 800px) {
  .aboutContainer {
    padding: 10px;
  }
  .aboutButton {
    flex-direction: column;
    gap: 25px;
  }
  .leftPart .leftPicture > img {
    width: 100px;
  }
}
