#Education h2 {
  margin: 30px 0px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.educationContainer {
  width: 85%;
  margin: auto;
}

.educationTypes {
  margin-top: 20px;
  border-left: 1px solid;
  padding-left: 15px;
}
.educationTypes .educationYear {
  font-style: italic;
  margin-bottom: 10px;
}
.educationTypes .educationTitle {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}
.educationTypes .educationInstitute {
  font-size: 18px;
  margin-bottom: 10px;
}
.educationTypes .educationResult {
  font-size: 18px;
}
